@import java.util.List
@import com.maxdemarzi.models.*

@args (User authenticated, User user, List<Attribute> attributes)

    @views.main.template("Attributes", authenticated) -> {

    <div class="col-lg-3">
        @views.partials._user_profile.template(user)
    </div>
        <div class="col-lg-6">
            @if (authenticated != null) {
            <form id="status" action="/attribute" method="POST">
                <div class="input-group card-outline-info">
                    <div class="typeahead__container">
                        <div class="typeahead__field">
                            <span class="typeahead__query">
                                <input type="text" class="typeahead form-control" id="attribute" placeholder="Attribute" name="attribute" autocomplete="off" autofocus>
                            </span>
                        </div>
                    </div>
                    <div class="invalid-feedback" style="width: 100%;">
                        An attribute is required.
                    </div>
                    &nbsp;
                    <span class="input-group-btn">
                        <button class="btn btn-outline-primary" type="submit" name="have_button" value="have">
                            <span class="icon icon-check">&nbsp;have</span>
                        </button>
                        <button class="btn btn-outline-primary" type="submit" name="want_button" value="want">
                            <span class="icon icon-plus">&nbsp;want</span>
                        </button>
                    </span>
                </div>
            </form>
            <br/>
            }

            <ul class="list-group media-list media-list-stream mb-4">
                @for (it: attributes) {
                @views.partials._attribute.template(it)
                }

            </ul>
        </div>
    }