<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Five and Sex Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/assets/login.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
    <link rel="manifest" href="/assets/ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/grittier-solid.svg" width="30" height="30" alt="">
                    Five and Sex
                </a>
            </li>
        </ul>
    </nav>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-block">
                    <form class="form-signin" action="/callback?client_name=FormClient" method="POST">
                        <h2 class="form-signin-heading">Please Log In</h2>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Username:</label>
                            <div class="col-8">
                                <input type="text" name="username" id="username" class="form-control" autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">Password:</label>
                            <div class="col-8">
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                        </div>

                        <button class="btn btn btn-primary" type="submit">Log In</button>
                        <a href="/register" class="btn btn btn-secondary">Register</a>
                    </form>
                 </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>