@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Conversation

@args (User authenticated, List<Conversation> conversations)

@views.main.template("Home", authenticated) -> {

<div class="container-fluid container pt-5">
    <div class="row">
        @views.partials._user.template(authenticated)
        <div class="col-lg-6">
            <div class="media-list media-list-users list-group js-msgGroup">
                @for (conversation: conversations) {
                @views.partials._conversation.template(authenticated, conversation)
                }
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
}