@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Conversation

@args (User authenticated, List<Conversation> conversations)

@views.main.template("Home", authenticated) -> {

    <div class="col-lg-3">
        @views.partials._user_profile.template(authenticated)
    </div>

    <div class="col-lg-6">
        <div class="media-list media-list-users list-group js-msgGroup">
            @for (conversation: conversations) {
            @views.partials._conversation.template(authenticated, conversation)
            }
        </div>
    </div>
}