@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Post
@import com.maxdemarzi.models.Tag

@args (User authenticated, User user, List<Post> posts, List<Tag> trends)

@views.main.template(user.getUsername(), authenticated) -> {
    <div class="container-fluid container pt-5">
    <div class="row">
        @views.partials._user.template(user)
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">
                @views.partials._trends.template(trends)
            </div>
        </div>
    </div>
}