@import java.util.List
@import com.maxdemarzi.models.User
@import com.maxdemarzi.models.Post
@import com.maxdemarzi.models.Tag

@args (User authenticated, User user, List<Post> posts, List<Tag> trends)

@views.main.template(user.getUsername(), authenticated) -> {
    <div class="container-fluid container pt-5">
        <div class="row">
            @views.partials._user.template(user)
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-block">
                        <form id="status" action="/post" method="POST">
                            <div class="input-group card-outline-info">
                                <input name="status" type="text" class="form-control" placeholder="What's happening?" autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit">Post</button>
                                </span>
                            </div>
                        </form>
                        <br/>
                        @for (post: posts) {
                        @views.partials._post.template(post)
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
}