@import com.maxdemarzi.models.Attribute

@args (Attribute attribute)
<li class="media list-group-item p-4">
    <div class="media-body">
        <div class="media-body-text">
            <div class="media-heading">
                <small class="float-right text-muted">added it on @attribute.when()</small>
                <h6>@attribute.getName()</h6>
                <ul class="card-menu counts">
                    <li class="text-left">
                        @if(attribute.getWant()) {
                        <i data-toggle="tooltip" title="Wants" class="material-icons true">check_box_outline_blank</i><span> @attribute.getWants()</span>&nbsp;
                        } else {
                        <i data-toggle="tooltip" title="Wants" class="material-icons blue">check_box_outline_blank</i><span> @attribute.getWants()</span>&nbsp;
                        }
                        @if(attribute.getHave()) {
                        <i data-toggle="tooltip" title="Has" class="material-icons true">check_box</i><span> @attribute.getHas() </span>
                        } else {
                        <i data-toggle="tooltip" title="Has" class="material-icons blue">check_box</i><span> @attribute.getHas() </span>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>