<li class="media list-group-item p-4">
    <form id="status" action="/post" method="POST" style="width: 100%">
        <div class="input-group">
            <input name="status" type="text" class="form-control" placeholder="What's happening?" autofocus>
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary align-self-stretch">
                    <span class="icon icon-camera"></span>
                </button>
            </div>
        </div>
    </form>
</li>