<li class="media list-group-item p-4">
    <form id="status" enctype="multipart/form-data" action="/post" method="POST" style="width: 100%">
        <div class="input-group">
            <input name="status" type="text" class="form-control" placeholder="What's happening?">
            <label class="btn btn-outline-danger" style="margin-bottom: 0;">
                <span class="icon icon-camera">
                    <input name="file" type="file" style="display: none;">
                </span>
            </label>
        </div>
        <small class="text-grey"><p class="help-block" id="image_name" style="margin-bottom:0;">press enter to post</p></small>
    </form>
</li>