@import com.maxdemarzi.models.Post
@import com.maxdemarzi.models.User

@args (Post post, User authenticated)

<li class="media list-group-item p-4" id="post_@post.getId()">
    <a href="/user/@post.getUsername()"><img class="media-object d-flex align-self-start mr-3" src="https://www.gravatar.com/avatar/@post.getHash()?s=200&d=retro"></a>
    <div class="media-body">
        <div class="media-body-text">
            <div class="media-heading">
                <small class="float-right text-muted">@post.humanTime()</small>
                <h6><a href="/user/@post.getUsername()">@post.getName()</a><a href="/user/@post.getUsername()"> <span class="text-grey">@@@post.getUsername()</span></a></h6>
            </div>
            <p>
                @post.getStatus()
            </p>
            @if(post.hasFile()) {
                <div class="@post.overlay()">
                    <span>
                        <img src="https://fives.b-cdn.net/@post.getFilename()" style="max-width: 100%" class="rounded">
                    </span>
                </div>
            }
            @if(authenticated != null && authenticated.getUsername().equals(post.getUsername())) {
                <span><i class="material-icons">pan_tool</i> @post.getHigh_fives()</span>
                <span><i class="material-icons icon-upside-down">pan_tool</i> @post.getLow_fives()</span>
            } else {
                <form id="five_@post.getId()" style="display: inline-block;">
                    <input type="hidden" name="username2" value="@post.getUsername()">
                    <input type="hidden" name="id" value="@post.getId()">
                    @if(post.isHigh_fived()) {
                    <span>
                        <i class="material-icons">pan_tool</i> High Fived
                    </span>
                    }
                    @if(post.isLow_fived()) {
                    <span>
                        <i class="material-icons icon-upside-down">pan_tool</i> Low Fived
                    </span>
                    }
                    @if(!post.isHigh_fived() && !post.isLow_fived() && authenticated != null) {
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="High Five">
                        <button class="btn btn-love btn-sm" id="high_five_button_@post.getId()" value="high_five" onclick="highFive(@post.getId())">
                            <i class="material-icons">pan_tool</i> @post.getHigh_fives()
                        </button>
                    </span>
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Low Five">
                        <button class="btn btn-love btn-sm" id="low_five_button_@post.getId()" value="low_five" onclick="lowFive(@post.getId())">
                            <i class="material-icons icon-upside-down">pan_tool</i> @post.getLow_fives()
                        </button>
                    </span>
                    }
                </form>
            }
            @if(authenticated != null && authenticated.getUsername().equals(post.getUsername())) {
                <form id="block_@post.getId()" style="display: inline-block; float: right;">
                    <input type="hidden" name="username2" value="@post.getUsername()">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Block User">
                        <button class="btn btn-love btn-sm" type="submit" name="block_user_button" value="block_user" onclick="block(@post.getId())">
                            <i class="material-icons">highlight_off</i>
                        </button>
                    </span>
                </form>
            }
        </div>
    </div>
</li>


