<div class="card mb-4 d-none d-lg-block">
    <div class="card-body">
        <h6 class="mb-3">Sponsored</h6>
            <a href="https://unsplash.com" target="_blank">
                <img src="http://cdn.fives.love/sponsor/sponsor-1.jpg" style="width: 239px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                <p><strong>Unsplash - Photos for Everyone</strong>
            </a> With a huge library of photos and thousands more being added each day, chances are we’ve got a photo for you.</p>
            <a href="https://unsplash.com" target="_blank"><button class="btn btn-outline-primary btn-sm">Check it out</button></a>
    </div>
</div>
