@import com.maxdemarzi.models.Thing

@args (Thing thing)
<li class="media list-group-item p-4">
    <div class="media-body">
        <div class="media-body-text">
            <div class="media-heading">
                <small class="float-right text-muted">added it on @thing.when()</small>
                <h6>@thing.getName()</h6>
                <ul class="card-menu counts">
                    <li class="text-left">
                        @if(thing.getLiked()) {
                        <i data-toggle="tooltip" title="Wants" class="material-icons true">thumb_up</i><span> @thing.getLikes()</span>&nbsp;
                        } else {
                        <i data-toggle="tooltip" title="Wants" class="material-icons blue">thumb_up</i><span> @thing.getLikes()</span>&nbsp;
                        }
                        @if(thing.getHated()) {
                        <i data-toggle="tooltip" title="Has" class="material-icons true">thumb_down</i><span> @thing.getHates() </span>
                        } else {
                        <i data-toggle="tooltip" title="Has" class="material-icons blue">thumb_down</i><span> @thing.getHates() </span>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>