@import com.maxdemarzi.models.Thing

@args (Thing thing)
<li class="media list-group-item p-4">
    <div class="media-body">
        <div class="media-body-text">
            <div class="media-heading">
                <small class="float-right text-muted">added it on @thing.when()</small>
                <h6>@thing.getName()</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Likes:
                    <span class="badge badge-primary badge-pill">@thing.getLikes()</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hates:
                    <span class="badge badge-primary badge-pill">@thing.getHates()</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Liked:
                    <span class="badge badge-primary badge-pill">@thing.getLiked()</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hated:
                    <span class="badge badge-primary badge-pill">@thing.getHated()</span>
                </li>
            </ul>
        </div>
    </div>
</li>