@import java.util.List
@import com.maxdemarzi.models.Conversation
@import com.maxdemarzi.models.Post
@import com.maxdemarzi.models.User

@args (User user, List<Conversation> conversations, List<Post> fives)

@if (user != null) {

<div class="col-lg-3">
    <div class="card card-profile mb-4">
        <div class="card-header" style="background-image: url(@user.headerImage());"></div>
        <div class="card-body text-center">
            <a href="/user/@user.getUsername()">
                <img class="card-profile-img" src="https://www.gravatar.com/avatar/@user.getHash()?s=200&d=retro">
            </a>

            <h6 class="card-title">
                <a class="text-inherit" href="/user/@user.getUsername()">@user.getName() <br/>@@@user.getUsername()</a>
            </h6>

            <p class="mb-4">@user.getIs() looking for @user.IsLookingFor() </p>

            <ul class="card-menu counts">
                <li class="text-left">
                    <a href="/user/@user.getUsername()"><i data-toggle="tooltip" title="Posts" class="material-icons">record_voice_over</i><span> @user.getPosts()</span></a>&nbsp;
                    <a href="/user/@user.getUsername()/likes"><i data-toggle="tooltip" title="Likes" class="material-icons">thumb_up</i><span> @user.getLikes()</span></a>&nbsp;
                    <a href="/user/@user.getUsername()/hates"><i data-toggle="tooltip" title="Hates" class="material-icons">thumb_down</i><span> @user.getHates()</span></a>&nbsp;
                    <a href="/user/@user.getUsername()/wants"><i data-toggle="tooltip" title="Wants" class="material-icons">check_box_outline_blank</i><span> @user.getWants()</span></a>&nbsp;
                    <a href="/user/@user.getUsername()/has"><i data-toggle="tooltip" title="Has" class="material-icons">check_box</i><span> @user.getHas() </span></a>
                </li>
            </ul>

        </div>
    </div>
    @if (conversations.size() > 0) {
        <div class="card d-md-block d-lg-block mb-4">
            <div class="card-body">
                <h6 class="mb-3"><a href="/messages">Latest Messages</a></h6>
                <ul class="media-list media-list-stream">
                    @for (conversation: conversations) {
                        @views.partials._conversation_preview.template(user, conversation)
                    }
                </ul>
            </div>
        </div>
    }
    @if (fives.size() > 0) {
        <div class="card d-md-block d-lg-block mb-4">
            <div class="card-body">
                <h6 class="mb-3"><a href="/messages">High Fives</a></h6>
                @for (five: fives) {
                    @views.partials._five_preview.template(five)
                }

            </div>
        </div>
    }
</div>
}